@import 'bootstrap-sprockets';
@import 'bootstrap';

#link-form {
      margin-left: 3em;
      margin:0 auto;
      text-align:center;
}

#link-url{

  font-size: 2em;
  padding-top: 1rem;

}


#link-notes{

  font-size: 1.6em;
  padding-bottom: 1em;

}


th,td {
    padding: .5em;
}


#links {
  margin-left: 10em;
}
